@using IntensiveUse.Models
@{
    ViewBag.Title = "地级市";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>表单名称</th>
        <th style="width:200px;">上传验证</th>
    </tr>
    @foreach (UploadFileExcel item in Enum.GetValues(typeof(UploadFileExcel)))
    {
        <tr>
            <td>@(item.ToString())</td>
            <td>
                <form method="post" action="/Home/UploadFile?Type=@(item)" class="form-inline" enctype="multipart/form-data">
                    <input type="file" name="file" class="form-control input-sm" style="width:100px;" />
                    <button type="submit" class="btn btn-sm btn-success">上传</button>
                </form>
            </td>
        </tr>
    }
</table>
