@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-plane"></i>&nbsp;<a href="/Home/City">地级市入口</a></p>
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-send"></i>&nbsp;<a href="#">区/县入口</a></p>
        </blockquote>
    </div>
</div>
